@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --color-start-jr-red: #ff3131;
  --color-start-jr-blue: #082645;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
}

#root {
  min-height: 100vh;
}
